body {
  background-image: url("../images/dark-triangles.png");
}

.title {
  padding: 10px;
  margin: auto;
  background-color: lightblue;
  border: solid black;
  text-align: center;
  font-size: 20px;
  border-radius: 25px;
}

img {
  width: 80px;
  height: 80px;
}

#description {
  padding: 10px;
  margin-top: 10px;
  background-color: lightgreen;
  border: solid black;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  border-radius: 25px;
}

#randomnumber {
  padding: 10px;
  margin-top: 10px;
  background-color: cyan;
  border: solid black;
  text-align: center;
  font-size: 14px;
  border-radius: 25px;
}

#winslosses {
  padding: 10px;
  margin-top: 10px;
  background-color: lightcyan;
  border: solid black;
  text-align: center;
  font-size: 14px;
  border-radius: 25px;
}

#gembuttons {
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  border: solid black;
  text-align: center;
  font-size: 14px;
  border-radius: 25px;
}

#totalscore {
  padding: 10px;
  margin-top: 10px;
  background-color: cyan;
  border: solid black;
  text-align: center;
  font-size: 14px;
  border-radius: 25px;
}

.crystal-image {
  width: 300px;
  height: 300px;
}
